<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IService1"  />
          <binding name="BasicHttpBinding_IService"
              maxBufferSize="2147483647"
              maxBufferPoolSize="2147483647"
              maxReceivedMessageSize="2147483647">
              <readerQuotas maxDepth="2147483647"
                            maxStringContentLength="2147483647"
                            maxArrayLength="2147483647"
                            maxBytesPerRead="2147483647"
                            maxNameTableCharCount="2147483647" />
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://demoemision.thefactoryhka.com.co/ws/obj/v1.1/Service.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
          contract="ServiceDemoAdjuntos.IService" name="BasicHttpBinding_IService" />
        <endpoint address="http://demoemision.thefactoryhka.com.co/wsEmision/Service.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
          contract="ServiceDemoEnviarArchivo.IService" name="BasicHttpBinding_IService1" />
      </client>
    </system.serviceModel>
</configuration>
